@model CreateCoursePartialViewModel 

<div class="modal fade" id="createCourseModal" tabindex="-1" aria-labelledby="createCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="dash-titel" id="createCourseModalLabel">Ny kurs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="formClose"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" id="createCourseForm"
                        data-ajax="true"
                        data-ajax-method="post"
                        data-ajax-mode="after"
                        data-ajax-update="#CommingCourses"
                        data-ajax-success="removeCreateCourseForm"
                        data-ajax-failure="failCreate">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-danger" id="validationSummary"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Start" class="control-label"></label>
                        <input asp-for="Start" class="form-control" />
                        <span asp-validation-for="Start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="End" class="control-label"></label>
                        <input asp-for="End" class="form-control" />
                        <span asp-validation-for="End" class="text-danger"></span>
                    </div>
                </form>
                <br />
            </div>
            <div class="modal-footer">
            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" id="formClose">Avbryt</button>*@
            <button type="submit" form="createCourseForm" class="btn btn-primary">Spara</button>
           </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

