@model ModulesViewModel


@{
    ViewData["Title"] = "Module";
     Layout = "_Layout";
}


<h1 id="participantsTitle" class="title title-main">Översikt</h1>
<hr />
@*@Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.FirstName)*@
<div class="container-fluid">
    <div class="row justify-content-around mt-5 pt-5 mb-5">

        <div class="col-8">
            <h1 class="dash-titel">Kursbeskrivning</h1>
            <hr class="mb-5">
            <p>
               @Model.Description
            </p>
         </div>


        <div class="accordion  col-8 lecture  mt-5" id="accordion-module">
                <div class="accordion-item panel ">
            
                        <h5 class="mb-0 accordion-header" id="" >
                        <a class="accordion-button collapsed dash-titel " 
                                data-bs-toggle="collapse" 
                                data-bs-target="#One" aria-expanded="false" aria-controls="flush-collapseOne">
                            Kursfiler
                        </a>
                        </h5>
                    <div id="One" class="accordion-collapse collapse" 
                         data-bs-parent="#accordion">
                    <div class="accordion-body m-3" > Här ska det ligga filer</div>
                    </div>
                        
                    
                 </div>
        </div>
      
        <div class="accordion  col-8 lecture  mt-5" id="accordion-module">
        <div class="accordion-item panel ">

            <h5 class="mb-0 accordion-header" id="">
                <a class="accordion-button collapsed dash-titel "
                   data-bs-toggle="collapse"
                   data-bs-target="#Two" aria-expanded="false" aria-controls="flush-collapseOne">
                   Modul 1
                </a>
            </h5>
            <div id="Two" class="accordion-collapse collapse"
                 data-bs-parent="#accordion">
                <div class="accordion-body m-3"> Här ska det ligga information och möjlighet att lämna in uppgifter</div>
            </div>


        </div>
    </div>

    
    </div>
</div>
<!-- The Modal knapp och titel: länk till target och inställd på modal-->
<div class="container mt-3">
    <h3>Modal Example</h3>
    <p>Click on the button to open the modal.</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Open modal
    </button>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


                             